* {
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0f0f12;
}

#root {
  min-height: 100vh;
}

button:focus-visible {
  outline: 2px solid #f59e0b;
  outline-offset: 2px;
}
